body{
    background:#0f172a;
    color:#fff;
    display:flex;
}

.sidebar{
    width:240px;
    height:100vh;
    background:#111827;
}

.card{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
}

.grafico{
    background:#1e293b;
    border-radius:15px;
}

.tabela{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
}

th{
    background:#334155;
    color:#fff;
}

td{
    border-bottom:1px solid #334155;
    color:#fff;
}

.menu li:hover{
    background:#1f2937;
}

.logo{
    color:#3b82f6;
}

.status{
    display:inline-block;
    padding:6px 12px;
    border-radius:20px;
    color:#fff;
    font-size:13px;
    font-weight:bold;
}

.ok{
    background:#16a34a;
}

.proc{
    background:#f59e0b;
}

.cancel{
    background:#dc2626;
}
