body{
    background:#120303;
    color:#fff;
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:#1a0505;
    padding:20px;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#d90429;
    text-align:center;
    margin-bottom:40px;
}

.menu li:hover{
    background:#3b0a0a;
}

.card{
    background:#240707;
    border-radius:15px;
    padding:20px;
    border:1px solid #4d1010;
}

.grafico{
    background:#240707;
    border-radius:18px;
    padding:25px;
    margin-bottom:25px;
    border:1px solid #4d1010;
    box-shadow:0 10px 25px rgba(0,0,0,.45);
}

.tabela{
    background:#240707;
    border-radius:15px;
    padding:20px;
    border:1px solid #4d1010;
}

th{
    background:#3b0a0a;
    color:#fff;
    padding:15px;
}

td{
    padding:15px;
    border-bottom:1px solid #4d1010;
    color:#fff;
}

.pedido-item,
.dispositivo-item{
    background:#180404;
    border:1px solid #4d1010;
}

.pedido-item:hover{
    border-color:#b30000;
}

.livre{
    border-left:5px solid #16a34a;
}

.ocupado{
    border-left:5px solid #b30000;
}

.pendente{
    border-left:5px solid #8b0000;
}

.processo{
    border-left:5px solid #d97706;
}
